.login-screen-whole{
    width:100%;
    height:100vh;
    background-color:antiquewhite;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.logo-container{
    margin-bottom:20px;
}

.login-screen-logo{
    width:160px;
    height:160px;
margin-left:30px;
    object-fit:cover;
}

.login-screen-logo-text{
    font-size:42px;
    font-weight:bold;
margin-top:8px;
}

.login-register-form-container{
    width:600px;
    /* min-height:550px; */

    background-color:black;
    border-radius:30px;

    padding:25px;
}

.tab-container{
    width:100%;
    height:60px;

    display:flex;

    border-radius:10px;
    overflow:hidden;
}

.tab-button{
    flex:1;

    border:none;
    outline:none;

    font-size:28px;
    font-weight:bold;

    cursor:pointer;
}

.active-tab{
    background-color:wheat;
}

.form-area{
    margin-top:25px;

    /* min-height:420px; */

    background-color:#222;

    border-radius:10px;

    color:white;

padding:10px;
    font-size:24px;

}


.form-group{
    display:flex;
    flex-direction:column;

    margin-bottom:20px;
}

.form-group label{
    color:white;
    font-size:18px;
    font-weight:bold;

    margin-bottom:8px;
}

.form-group input{
    height:45px;

    border:none;
    border-radius:8px;

    padding-left:12px;

    font-size:16px;
}

.checkbox-group{
    display:flex;
    align-items:center;
    gap:12px;

    color:white;
    font-size:18px;
    font-weight:bold;
}

.checkbox-group input{
    width:20px;
    height:20px;

    cursor:pointer;
}

.submit-button{
    margin-top:20px;
    /* padding:20px;
    font-size:50px; */
    font-weight:bold;
    width:100%;
    padding:10px;
    font-size:25px;
    background-color: rgb(235, 75, 75);
    cursor: pointer;
    color: white;
}

.login-button{
       margin-top:30px;
    /* padding:20px;
    font-size:50px; */
    font-weight:bold;
    width:100%;
    padding:10px;
    font-size:25px;
    background-color: rgb(235, 75, 75);
    cursor: pointer;
    color: white;
}

.show-password-container{
    display:flex;
    align-items:center;
    gap:10px;

    margin-top:30px;
    margin-bottom:20px;

    color:white;
    font-size:16px;
}

.show-password-container label{
    font-size:18px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}

.show-password-container input{
    width:20px;
    height:20px;
    cursor:pointer;
}

.password-input-container{
    position:relative;
}

.password-input-container input{
    width:100%;
    height:45px;

    border:none;
    border-radius:8px;

    padding-left:12px;
    padding-right:45px;

    font-size:16px;
}

.eye-icon{
    position:absolute;

    top:50%;
    right:15px;

    transform:translateY(-50%);

    cursor:pointer;

    font-size:22px;

    color:#555;
}